* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  /* Switch base font-size to 18px */
  font-size: 1.125em;
  line-height: 1.5;
  background-color: hsl(0, 0%, 60%);
}

h1, h2 {
  margin: 0;
}

p {
  margin-bottom: 0;
}

strong {
  color: hsl(160, 100%, 30%);
}

header {
  background-color: hsl(0, 0%, 100%);
  border-bottom: 8px solid hsl(0, 0%, 40%);
}

header p {
  font-size: 1.5rem;
}

main {
  padding-top: 64px;
  padding-bottom: 64px;
}

.title {
  font-size: 2rem;
  margin-bottom: 64px;
  font-weight: 900;
}


.max-width-wrapper {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.intro-chunk {
  padding: 128px 32px 48px;
  max-width: 480px;
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-bottom: 8px solid hsl(0, 0%, 40%);
  padding: 32px;
}

.indented-heading {
  background-color: hsl(45, 100%, 50%);
  border-bottom: 8px solid hsl(45, 100%, 40%);
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.25rem;
  padding: 24px 48px;
  margin-top: -24px;
  margin-left: -48px;
  font-weight: 900;
}
